/* ============================================= */
/*                  MIXINS                       */
/* ============================================= */

@mixin block-auto {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }