//---colors

$color-aqua: #51ddfc;
$lightgreen: #58e1c1;
$color-text: #777;
$color-background: #fff;
$color-purple: #927bc1;
$linkColor: #51ddfc;

//----Fonts

$font-thin: 300;

//---media query size

$breakpoint-md: 768px;